.myhead{
  text-align:center;
  color: pink;
  background: url(https://i.ytimg.com/vi/c7oV1T2j5mc/maxresdefault.jpg);
}
.profile-pic{
  border-radius: 50%;
}
.mybio{
text-align:center;
background:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fblack-background&psig=AOvVaw1Pe8xUoq9HCeerwQMetPeA&ust=1601908384802000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjR_vWTm-wCFQAAAAAdAAAAABAJ);
background-size:cover;
font-family: "Comic Sans MS";
}
.qual{
  text-align:center;
  background:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fblack-background&psig=AOvVaw1Pe8xUoq9HCeerwQMetPeA&ust=1601908384802000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjR_vWTm-wCFQAAAAAdAAAAABAJ);
  background-size:cover;
  font-family: "Comic Sans MS";
}
.myhob{
  text-align:center;
  background:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fblack-background&psig=AOvVaw1Pe8xUoq9HCeerwQMetPeA&ust=1601908384802000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjR_vWTm-wCFQAAAAAdAAAAABAJ);
  background-size:cover;
  font-family: "Comic Sans MS";

}
.carousel-inner > .item {
   height: 80%;
   width:80%;
}
.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:pink;
  height: 500px;
}

.item2 {
  background-color:pink;
  height: 500px;
}

.item3 {
  background-color:pink;
 height: 500px;
}
.mycon{
  text-align:center;
background:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fblack-background&psig=AOvVaw1Pe8xUoq9HCeerwQMetPeA&ust=1601908384802000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjR_vWTm-wCFQAAAAAdAAAAABAJ);
background-size:cover;
font-family: "Comic Sans MS";
}
